.App {
  text-align: center;
}
.box {
  position: relative;
  animation: mymove 5s infinite;
}

@keyframes mymove {
  from {
    left: 0px;
  }
  to {
    left: 200px;
  }
}
.hide {
  display: none;
}
