body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.box1 {
  position: relative;
  background: lightgreen;
  height: 400px;
  width: 500px;
}
.box2 {
  position: absolute;
  background: lightsalmon;
  height: 300px;
  width: 400px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box3 {
  position: absolute;
  background: lightskyblue;
  height: 200px;
  width: 300px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.box4-container {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 150px;
  width: 200px;
}

.box4 {
  background: lightslategrey;
  margin: 5px;
  height: 100px;
  width: 200px;
}
