img {
  width: 300px;
  margin: 10px 100px;
}
.container {
  width: 500px;
  height: 450px;
  margin: 20px;
  background-color: lightgrey;
  align-items: center;
  align-content: center;
  text-align: center;
}
