.App {
  text-align: center;
}
input {
  display: block;
  margin: auto;
}
.inputDiv {
  margin-top: 10px;
}

.btn {
  display: inline-block;
  background: green;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}
